[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
jupyter = "*"
jupyterhub = "*"
pylint = "*"
setuptools = "*"
ipywidgets = "*"
jupyterlab = "*"
ptvsd = "*"
p2j = "*"
nodeenv = "*"

[requires]
python_version = "2.7.16"
